$font: "Tahoma", Verdana;

#dashboard{
	float:left;
	width:100%;
	padding:20px 0px 0px 0px;
	#linksBar{
		float:left;
		width:100%;
		height:68px;
		background:url("links-bar.gif") no-repeat 0px 0px;	
		a{
			float:right;
			display:inline;
			margin:9px 9px 0px 0px;
		}
	}
	#wrapperLinks{
		float:left;
		width:100%;
		padding:20px 0px 0px 0px;
		.categoryBar{
			float:left;
			width:970px;
			height:34px;
			padding:5px 0px 0px 20px;
			background:url("bg-category.png") repeat-x 0px 0px;
			cursor:pointer;
			img{
				float: left;
			}
			span{
				float:left;
				font-family:$font;
				font-size:20px;
				text-transform:uppercase;
				font-weight:bold;
				padding:2px 0px 0px 10px;
				color:#FEEF00;
			}
		}
		.contentLinks{
			float:left;
			width:100%;
			display:none;
			ul{
				float:left;
				width:100%;
				padding:10px 0px 20px 0px;
				li{
					float:left;
					width:80%;
					padding:0px 0px 0px 20px;
					a{
						font-family:$font;
						color:#FEEF00;
						font-weight:bold;
						text-decoration:none;
					}
				}
			}
		}
	}
}