$font: Arial;

#dashboard{
	float:left;
	width:100%;
	padding:20px 0px 0px 0px;
	
	#wrapperLinks{
		float:left;
		width:100%;
		padding:20px 0px 0px 0px;
		.categoryBar{
			float:left;
			width:970px;
			height:34px;
			padding:15px 0px 0px 20px;
			background:url("bg-category.png") repeat 0px 0px;
			cursor:pointer;
			border:1px solid #FFD700;
			display:inline-block;
			margin:0px 0px 5px 0px;
			img{
				float: left;
			}
			span{
				float:left;
				font-family:$font;
				font-size:20px;
				text-transform:uppercase;
				font-weight:bold;
				padding:2px 0px 0px 10px;
				color:#FFD700;
			}
		}
		.contentLinks{
			float:left;
			width:100%;
			display:none;
			ul{
				float:left;
				width:100%;
				padding:10px 0px 20px 0px;
				li{
					float:left;
					width:90%;
					padding:0px 0px 0px 20px;
					
					&:hover{
						background:url("bg-category.png") repeat 0px 0px;
						.editBox{
							display:block;
						}
					}

					.editBox{
						display:none;
						float:right;
						span{
							float:left;
							padding:0px 5px;
						}
						a{
							font-weight: normal;
							color:#8B0000;
						}
					}

					a{
						font-family:$font;
						color:#FEEF00;
						font-weight:bold;
						text-decoration:none;
					}
				}
			}
		}
	}
}